---
- name: "distributecerts"
  hosts: sshdistributiongroup
  tasks:
{% if item.cert_ssh_copydest is defined %}
    - name: "copy cert.pem"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/cert.pem
        dest: {{ item.cert_ssh_copydest }}
        owner: {{ item.ssh_destination_owner }}
        group: {{ item.ssh_destination_group }}
        mode: {{ item.ssh_destination_mode }}
{% endif %}
{% if item.chain_ssh_copydest is defined %}
    - name: "copy chain.pem"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/chain.pem
        dest: {{ item.chain_ssh_copydest }}
        owner: {{ item.ssh_destination_owner }}
        group: {{ item.ssh_destination_group }}
        mode: {{ item.ssh_destination_mode }}
{% endif %}
{% if item.fullchain_ssh_copydest is defined %}
    - name: "copy fullchain.pem"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/fullchain.pem
        dest: {{ item.fullchain_ssh_copydest }}
        owner: {{ item.ssh_destination_owner }}
        group: {{ item.ssh_destination_group }}
        mode: {{ item.ssh_destination_mode }}
{% endif %}
{% if item.privkey_ssh_copydest is defined %}
    - name: "copy privkey.pem"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/privkey.pem
        dest: {{ item.privkey_ssh_copydest }}
        owner: {{ item.ssh_destination_owner }}
        group: {{ item.ssh_destination_group }}
        mode: {{ item.ssh_destination_mode }}
{% endif %}
{% if item.aftercopy_ssh_restart_services is defined %}
{% raw %}
    - name: "restart services"
      become: true
      systemd: 
        name: "{{ item }}"
        state: restarted
{% endraw %}
      with_items:
{% for service in item.aftercopy_ssh_restart_services %}
        - {{ service }}
{% endfor %}
{% endif %}
{% if item.netscaler is defined %}
    - name: "copy cert to netscaler"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/fullchain.pem
        dest: /nsconfig/ssl/{{ item.name }}-fullchain.pem
    - name: "copy privkey to netscaler"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/nsprivkey.pem
        dest: /nsconfig/ssl/{{ item.name }}-privkey.pem
    - name: "deploy cert to netscaler"
      delegate_to: localhost
      netscaler_ssl_certkey:
        nitro_user: {{ item.netscaler.user }}
        nitro_pass: {{ item.netscaler.pass }}
        nsip: {{ item.netscaler.nsip }}
        certkey: {{ item.name }}_letsencrypt
        cert: {{ item.name }}-fullchain.pem
        key: {{ item.name }}-privkey.pem
        expirymonitor: disabled
        password: false
        nitro_protocol: https
        validate_certs: {{ item.netscaler.validate_certs }}
        passplain: false
{% endif %}