---
- name: "distributecerts"
  hosts: sshdistributiongroup
  tasks:
{% if item.cert_copydest is defined %}
    - name: "copy cert.pem"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/cert.pem
        dest: {{ item.cert_copydest }}
        owner: {{ item.destination_owner }}
        group: {{ item.destination_group }}
        mode: {{ item.destination_mode }}
{% endif %}
{% if item.chain_copydest is defined %}
    - name: "copy chain.pem"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/chain.pem
        dest: {{ item.chain_copydest }}
        owner: {{ item.destination_owner }}
        group: {{ item.destination_group }}
        mode: {{ item.destination_mode }}
{% endif %}
{% if item.fullchain_copydest is defined %}
    - name: "copy fullchain.pem"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/fullchain.pem
        dest: {{ item.fullchain_copydest }}
        owner: {{ item.destination_owner }}
        group: {{ item.destination_group }}
        mode: {{ item.destination_mode }}
{% endif %}
{% if item.privkey_copydest is defined %}
    - name: "copy privkey.pem"
      become: true
      copy:
        src: /home/{{ local_ansible_user }}/privkey.pem
        dest: {{ item.privkey_copydest }}
        owner: {{ item.destination_owner }}
        group: {{ item.destination_group }}
        mode: {{ item.destination_mode }}
{% endif %}
{% if item.aftercopy_restart_services is defined %}
{% raw %}
    - name: "restart services"
      become: true
      systemd: 
        name: "{{ item }}"
        state: restarted
{% endraw %}
      with_items:
{% for service in item.aftercopy_restart_services %}
        - {{ service }}
{% endfor %}
{% endif %}
