{% if item.ssh_target_hosts is defined %}
[distributiongroup]
{% for host in item.ssh_target_hosts %}
{{ host }}
{% endfor %}
{% endif %}

{% if ( strict_hostkeychecking is defined ) and ( strict_hostkeychecking == false ) %}
[sshdistributiongroup:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
{% endif %}