---
- name: "distributecerts"
  hosts: distributiongroup
  vars:
    {% if cert_copydest is defined %}
    cert_copydest: {{ cert_copydest }}
    {% endif %}
    {% if chain_copydest is defined %}
    chain_copydest: {{ chain_copydest }}
    {% endif %}
    {% if fullchain_copydest is defined %}
    fullchain_copydest: {{ fullchain_copydest }}
    {% endif %}
    {% if privkey_copydest is defined %}
    privkey_copydest: {{ privkey_copydest }}
    {% endif %}
    destination_user: {{ destination_user }}
    destination_group: {{ destination_group }}
    destination_mode: {{ destination_mode }}
  tasks:
    - name: "copy cert.pem"
      become: true
      copy:
        src: $HOME/cert.pem
        dest: {{ cert_copydest }}
        owner: {{ destination_owner }}
        group: {{ destination_group }}
        mode: {{ destination_mode }}
      when: cert_copydest is defined
    - name: "copy chain.pem"
      become: true
      copy:
        src: $HOME/chain.pem
        dest: {{ chain_copydest }}
        owner: {{ destination_owner }}
        group: {{ destination_group }}
        mode: {{ destination_mode }}
      when: chain_copydest is defined
    - name: "copy fullchain.pem"
      become: true
      copy:
        src: $HOME/fullchain.pem
        dest: {{ fullchain_copydest }}
        owner: {{ destination_owner }}
        group: {{ destination_group }}
        mode: {{ destination_mode }}
      when: fullchain_copydest is defined
    - name: "copy privkey.pem"
      become: true
      copy:
        src: $HOME/privkey.pem
        dest: {{ privkey_copydest }}
        owner: {{ destination_owner }}
        group: {{ destination_group }}
        mode: {{ destination_mode }}
      when: privkey_copydest is defined